* {
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 2px;
}
body {
  background-color: azure;
  opacity: 0.7;
  box-shadow: 20px lightgreen;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  width: 50px;
}
.navi {
  display: flex;
}
.navi a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 0 -10px;
}
.signin-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.signin-up a {
  text-decoration: none;
}
.signin a {
  color: black;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100px;
  height: 30px;
  text-align: center;
}
.signup a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid orangered;
  font-weight: 900px;
  color: orangered;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}
.main1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  width: auto;
  height: 500px;
}
.main1-img {
  width: 48%;
  display: flex;
  justify-content: flex-end;
}
.text-main1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 52%;
}
.span1 {
  font-size: 12px;
  font-weight: 900;
  margin-left: 4px;
  margin-right: 4px;
}
.span2 {
  font-size: 12px;
  font-weight: 900;
  margin-left: 4px;
  margin-right: 4px;
}
.ceo {
  font-size: 12px;
  font-weight: 900;
  margin-left: 0;
  margin-right: 0;
  opacity: 0.8;
}
.span3 {
  font-size: 12px;
  font-weight: 900;
  margin-left: 0;
  margin-right: 4px;
}
.span4 {
  font-size: 12px;
  font-weight: 900;
  margin-left: 4px;
  margin-right: 0;
}
.g-started,
.subscribe-now {
  width: 300px;
  height: 50px;
  background-color: orangered;
  color: azure;
  border: none;
  border-radius: 20px;
  margin-top: 50px;
}
.users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 150px;
  margin-top: -50px;
  margin-left: 36px;
}
.userr,
.location,
.server {
  display: flex;
  flex-direction: row;
  border-right-style: inset;
  background-color: white;
  width: 330px;
  align-items: center;
  justify-content: center;
  margin-left: -12px;
}
.userr-img {
  margin-right: -50px;
}
.userr-no {
  margin-left: -50px;
}
.p {
  margin-top: -20px;
}
.help {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 400px;
}
.left-help {
  width: 50%;
}
.help img {
  justify-content: flex-start;
  align-items: center;
}
.help-text {
  width: 50%;
  justify-content: flex-start;
}
.ul-li {
  margin-left: -70px;
}
.ul-li ul li {
  list-style-position: outside;
  list-style: none;
}
.li {
  display: flex;
  flex-direction: row;
}
.li2 {
  display: flex;
  flex-direction: row;
}
.ul-li2 ul li {
  list-style: none;
}
.ul-li2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -70px;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose {
  text-align: center;
  margin-top: 100px;
}
.plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.free,
.standard,
.premium {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 550px;
  border-style: groove;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: -10px;
}

.premium {
  border: 2px solid orangered;
}
.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.foot1,
.foot3 {
  padding-bottom: -10px;
}
.select {
  border: 2px solid orangered;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: azure;
  color: orangered;
}
.button {
  background-color: orangered;
  width: 200px;
  height: 50px;
  color: azure;
  border: none;
  border-radius: 20px;
}
span {
  font-weight: 900;
  font-size: 28px;
}
.span {
  display: flex;
  flex-direction: row;
}
.span-mo {
  font-size: 28px;
  margin-left: -20px;
}
.network {
  text-align: center;
  margin-top: 100px;
}
.global {
  margin-top: 100px;
}
.trust {
  text-align: center;
  margin-top: 70px;
}
.vpn-users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: fit-content;
  margin-top: 50px;
}
.ui {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 350px;
  height: 185px;
  border: 2px solid red;
  border-radius: 10px;
  padding-top: 17px;
}
.userinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.uicolumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 163px;
  height: 40px;
  margin-left: -35px;
}
.star {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.star-img {
  margin-left: -41px;
}
.comment-text {
  margin-top: 20px;
  margin-left: -20px;
}
.arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
}
.div1 {
  width: 50px;
  height: 20px;
  border: none;
  border-radius: 20px;
  background-color: orangered;
}
.div {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50px;
  background-color: rgb(235, 228, 228);
}
.theraw {
  display: flex;
  flex-direction: row;
}
.arrow1 {
  width: 70px;
  height: 70px;
  background-color: rgb(235, 228, 228);
  border: 2px solid orangered;
  border-radius: 50px;
  color: orangered;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow2 {
  width: 70px;
  height: 70px;
  background-color: orangered;
  border: none;
  border-radius: 50px;
  color: whitesmoke;
  margin-right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 250px;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
}

.last-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: fit-content;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
